/*
  www.mickzz.xyz | @cirofuentess
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");

body {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Iso", cursive;
}
.center {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .icon-3d {
    padding: 10px;
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff, 0 0 25px #fff, 0 0 70px #0ff, 0 0 70px #0ff;
  }
  .icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
  }
  
  @keyframes icon3d {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 25px #fff, 0 0 70px #0ff, 0 0 70px #0ff;
    }
    25% {
        text-shadow: 0 0 10px #fff, 0 0 25px #fff, 0 0 70px #0ff, 0 0 70px #0ff;
    }
    50% {
      text-shadow: 5px -4px rgb(0, 255, 255), -8px 4px rgb(255, 255, 255);
    }
    75% {
      text-shadow: -8px -4px rgb(0, 255, 255), -5px -4px rgb(255, 255, 255);
    }
    100% {
      text-shadow: -5px 0 rgb(0, 255, 255), 5px -4px rgb(255, 255, 255);
    }
  }
  
.neon {
  color: #fff;
  font-size: 6em;
  text-align: center;
  letter-spacing: 12px;
  /*-webkit-box-reflect: below -35px linear-gradient(transparent, transparent, #0005);*/
  text-shadow: 0 0 10px #fff, 0 0 25px #fff, 0 0 70px #0ff, 0 0 70px #0ff;
}
.neon span {
  animation: flicker 3s linear infinite;
}
.neon .delay1 {
  animation-delay: 0.6s;
}
.neon .delay2 {
  animation-delay: 1.4s;
}
.neon .delay3 {
  animation-delay: 1s;
}
.neon .delay4 {
  animation-delay: 1.8s;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}